body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    display: inline-block; /* Para que el título y la foto se muestren en línea */
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
}

section {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#foto {
    text-align: center;
    margin-bottom: 20px;
}

#foto img {
    width: 150px; /* Ajusta el tamaño de la foto según sea necesario */
    border-radius: 50%; /* Para hacer que la foto tenga bordes redondeados */
}
